<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RemindLog - Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="/static/styles/styles.css" th:href="@{/styles/styles.css}"/>
</head>

<body>
<!--<div class="header"></div>-->
<div class="menu-bar">
    <div class="icon-bar">
        <a class="active" href="#"><i class="fa fa-registered"></i></a>
        <a href="/user/home"><i class="fa fa-bank"></i><p>Home</p></a>
        <a href="/user/createReminder"><i class="fa fa-plus"></i><p>New Reminder</p></a>
        <a href="/user/viewReminders"><i class="fa fa-eye"></i><p>Reminderlist</p></a>
        <a href="/user/editUser"><i class="fa fa-wrench"></i><p>Edit User</p></a>
        <a th:href="@{/logout}"><i class="fa fa-globe"></i><p>Log out</p></a>
    </div>
</div>
<h1>Welcome to RemindLog</h1>

<!--<div class="content">-->
    <!--<div class="button-bar">-->
        <!--<a href="#" class="btn">Rediger påmindelse</a>-->
        <!--<a href="#" class="btn">Slet påmindelse</a>-->
        <!--<a href="/user/createShareGroup" class="btn">Opret gruppe</a>-->
        <!--<a href="#" class="btn">Vælg gruppe</a>-->
    <!--</div>-->
    <!--<h1>Ny påmindelse</h1>-->
<!--</div>-->
</body>
</html>